.container{
    width: 96.6vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}
.ct-box{
    width: 100%;
    background-color: white;
    background-attachment: fixed;
    border: 1px solid rgb(78, 221, 221);
    padding-top: 20px;
}
#titulo_noticias, #Categoria_noticias{
    text-align: left;
    padding: 0 20px 5px 20px;
}       
#Categoria_noticias{
    color: rgba(0, 0, 0,0.8);
}
#titulo_noticias{
    word-wrap: break-word;
}
#texto_noticia{
    text-align: justify;
    padding: 5px 20% 5px 20%;
    font-family: cursive;
    font-weight: lighter;
    color: rgba(0, 0, 0,0.8);
    font-size: 13pt;
    word-wrap: break-word;
}
#retorno:link{
    text-decoration: 0;
    margin-left: 3%;
}
#retorno{
    color: rgb(40, 141, 167);
}